.container {
  height: 100%;
  overflow-y: auto;
  background-color: white;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectedText {
  margin-left: 8px;
  font-size: 12px;
}

.addForm {
  width: 80%;
}
